#############################################################
# Production postgres environment template                  #
# Copy this file to docker/postgres.env and edit values.    #
#############################################################

POSTGRES_USER=burningokr
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=burning_okr
